*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  background-color: #fafafa;
  height: 100%;
}
.app__headerImage{
  object-fit: contain;
}
.app__header{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  border-bottom: 1px solid darkgray;
  background-color: #ffffff;
  padding: 20px;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}
.app__signup{
  display: flex;
  flex-direction: column;
}
.app__postsRight{
  margin-right: 20px;
}
.app__posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}